body {
  display: flex;
  flex-direction: column;
  text-align: center;
  top: 0;
  left: 0;
  width: 100vw;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#not-nav{
  border: hidden;
  margin: 50px 0 0px 0;
  min-height: 500px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 700px){
  #not-nav{
    margin-bottom: 60px;
  }
}